<div class="edit-post-container">


  <div class="row">
    <div class="col-1">
      <%= link_to 'Back', posts_path, class:'back-btn' %>
      <div class="blog-edit-card">
        <div class="blog-edit-card-body">
          <h4 class="blog-edit-card-title">Edit Post </h4>
          <%= render 'form', post: @post %>
        </div>
      </div>
    </div>
    <%# <div class="col-2">
      <%= form_with(model:[@post, @paragraph]) do |form| %>
        <%# <%= form.hidden_field :element_type, value: 'paragraph' %>
        <%# <%= form.submit 'Paragraph' %>
      <%# <% end %>
    <%# <% @post.postelements.each do |postelement| %>
      <%# <% if postelement.persisted? %>
        <%# <%= form_with(model:[@post, postelement]) do |form| %>
          <%# <%= form.rich_text_area :content %>
          <%# <%= form.submit 'Save' %>
        <%# <% end %>
      <%# <% end %>
    <%# <% end %>
    <%# </div>
  </div> %>
</div>
