<div class="home-content-container">
  <p class="home-intro">
    <strong>Hi, I'm Juan Esteban</strong>
    <br>
    <br>
    "I am the cofounder of <a href="https://www.synapbox.com/"> Synapbox </a> and the host of <a href="https://www.youtube.com/channel/UCNeLkQHnI4Yjh_o8hZGByXA"> Bravos Podcast </a>.
    <br>
    Currently you'll find me in <span class = "old-city"> Medellín</span>, <span class = "old-city"> Mexico City</span>, <span class = "current-city"> Mazatlán. </span>
  </p>

  <ul class="SocialLinks">
    <li>
      <a href="http://twitter.com/juanesbravoa">
        <%= image_tag('home/twitter.png') %>
        <%# <img src="home/twitter.png" alt="Twitter"> %>
      </a>
    </li>
    <li>
      <a href="http://www.linkedin.com/in/juanesbravo/">
        <%= image_tag('home/linkedin.png') %>
        <%# <img src="static/images/logos/linkedin.png" alt="Linkedin"> %>
      </a>
    </li>
    <li>
    <li>
      <a href="https://github.com/juanestebanba">
        <%= image_tag('home/github.png') %>
      </a>
    </li>
    <li>
      <a href="http://www.youtube.com/channel/UCNeLkQHnI4Yjh_o8hZGByXA">
        <%= image_tag('home/youtube.png') %>
        <%# <img src="static/images/logos/youtube.png" alt="Youtube"> %>
      </a>
    </li>
     <li>
      <a href="https://mailhide.io/e/FD7wy3AL">
        <%= image_tag('home/email.png') %>
        <%# <img src="static/images/logos/email.png" alt="Email"> %>
      </a>
    </li>
  </ul>
</div>
