<%= simple_form_for(@book) do |f| %>

  <div class="form-inputs card border-secondary shadow p-3 mb-5 bg-body rounded">
    <%= f.input :name %>
    <%= f.input :rating_text %>
    <%= f.input :rating_number %>
    <%= f.input :short_description %>
    <%= f.rich_text_area :rich_notes %>
    <%= f.input :category %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
